{% extends 'userprofile/base.html' %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<title>HomePage!</title>
{% endblock %}

{% block body %}

<div class="card-header" style="">
<h1 style="text-align:center;">Pizza Hub Basic Profile</h1>
</div>

<div class="card" style="background-color:cyan;margin:20px;">

<div class="row">
<div class="col"><Strong style="margin-left:20%">First Name:</Strong></div>
<div class="col">{{ firstname }}</div>
</div><br><br>

<div class="row">
<div class="col"><strong style="margin-left:20%">Last Name:</strong></div>
<div class="col">{{ lastname }}</div>
</div><br><br>

<div class="row">
<div class="col"><strong style="margin-left:20%" >UserName:</strong></div>
<div class="col">{{ username }}</div>
</div><br><br>

<div class="row">
<div class="col"><strong style="margin-left:20%">Email:</strong></div>
<div class="col">{{ email }}</div>
</div>

</div>

<div class="card-footer">

<form class="form-group" style="float:left;width:20%;" action="{% url 'index' %}" method="post">
  {% csrf_token %}
<button style="float:left;" class="btn btn-danger">Go back!</button>
</form>

<form class="form-group" style="float:left;width:60%;" action="{% url 'userprofile:editprofile' %}" method="post">
{% csrf_token %}
<button style="position:relative;left:38%;" class="btn btn-primary">edit Profile</button>
</form>

<form class="form-group" style="float:right;width:20%;" action="{% url 'userprofile:logout' %}" method="post">
  {% csrf_token %}
<button style="float:right;" class="btn btn-danger">Log out!</button>
</form>

</div>
{% endblock %}
