{% extends 'userprofile/base.html' %}

{% block head %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<script>
document.addEventListener("DOMContentLoaded", ()=>{
document.getElementById("submit").onclick =()=>{
    const password2 = document.getElementById("password2").value;
    const password1 = document.getElementById("password1").value;
    if (password1 != password2){
        alert("password must be same");
        return false;
    }
}
});
</script>
{% endblock %}

{% block body %}


<div class="card"  style="background-color:cyan; padding:10px">

{% if message %}
<h3 class="card-heading">{{ message }}</h3>
{% endif %}

<form class="card-body" style="margin-left:auto; margin-right:auto" action="{% url 'userprofile:signup' %}" method="post">
{% csrf_token %}
<div class="userform container">
  
  <div class="row">
    <div class="col-12">
      <span style="">UserName:</span><br>
      <input style="" id="name" required type="text" name="username"/>
    </div>
  </div>
  
  <div class="row">
      <div class="col-6">
        <span style="">FirstName:</span>
        <input style="" style="" required type="text" name="firstname"/>
      </div>
    </div class="col-6">
      <span style="">lastName:</span>
      <input style="" required type="text" name="lastname"/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <span style=""> Enter Your Email address:</span><br>
      <input required style="" name="email" type="Email"/><br><br>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
    <span style="">Password:</span>
      <input style="" id="password1" required type="password" name="password"/>
    </div>
  
    </div>
    <div class="col-6">
      <span style="">ReEnter Password:</span>
    <input style="" id="password2" required type="password" />
    </div>
  </div>
  
</div>


<br><br>
<input class="btn btn-success" style="margin-left:35%;" id="submit" type="Submit" value="Signup"/>
</form>
</div>
{% endblock %}
