{% extends 'orders/base.html' %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cart!</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
$("#buynow").click(function(){
var price = "{{ price }}"
console.log(price);

 $.ajax(
    {
        type:"POST",
        url : "/buy",
        data : {
            'csrfmiddlewaretoken' :$('[name=csrfmiddlewaretoken]').val(),
            price : price
        },
        success : function(data){
            alert("success")
            window.location.reload(true);
        }

    }
)       

});
})

</script>
{% endblock %}


{% block body %}



{% if cart %}

<!-- if item in cart -->

<div class="card-header">
<h3 class="display-3" style="font-family:Bitner;text-align:center;">Pizza Hub</h3>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
<!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

      <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">

    <form class="nav-item" action="{% url 'index' %}" method="post">
    {% csrf_token %}
      <button class="nav-link btn btn-dark">Menu</button>
    </form>

    <form class="nav-item" action="{% url 'order' %}" method="post">
    {% csrf_token %}
      <button class="nav-link btn btn-dark">Order</button>
    </form>

    <form class="nav-item" action="{% url 'userprofile:index' %}" method="post">
    {% csrf_token %}
      <button class="nav-link btn btn-dark" href="#">Profile</button>
    </form>
  </ul>
  </div>

</nav>
</div>

<div class="container-fluid">
<div class="row">
{% for item in cart %}
<div class="col-sm-3 card" style="margin-right:3%;margin-bottom:3%;">
<div class="card-body">
{% for key, value in item.items %}
<div style="margin-bottom:1px;">

<strong>{{ key }}</strong> : {{ value }}

</div>
{% endfor %}
</div>
</div>
{% endfor %}
</div>

<div>
<strong> Total price: ${{ price }}</strong>
<button id="buynow" class="btn btn-outline-primary">Buy Now</button>
</div>

</div>  

{% else %}

<!-- if cart is empty-->
<h3>Your Shopping Cart is Empty</h3>
<form action="{% url 'order' %}" method="post">
{% csrf_token %}
<button class="btn btn-primary">Add item to your Shopping Cart!</button>
</form>






{% endif %}


{% endblock %}